<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css" />
        <title>Robot Pick-Pull-Place</title>
    </head>
    <body style="background-color: lightgray;">
        <h1 style="text-align: center;color: black;background-color: grey;border: 1px solid black;font-size: 500%;">Robot Pick-Pull-Place</h1>
        <h2 style="font-size: 200%;" >System Status: {{ status_display }}</h2>
        <form method="post" action="/">
                <input type="submit" value="Enable" name="Enable" style="width: 10%" />
                <input type="submit" value="Disable" name="Disable" style="width: 10%"/>
        </form>
    </body>
</html>